<div class=container>
  <% @lists.each do |list| %>
      <p><%= link_to list.name, list_path(list) %></p>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
